body {
    font-family: Arial, sans-serif;
    background-color: #e2dff3;
    margin: 0;
    padding: 30px;
    text-align: center;
}

/* Title */
h1 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    color: #222121;
}

/* Language selector */
label {
    font-weight: bold;
    margin-right: 8px;
}

select {
    padding: 5px;
    font-size: 14px;
}

/* Main row */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

/* For upload button */
.file-label {
    display: inline-block;
    background-color: #007BFF; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.file-label:hover {
    background-color: #0069D9; 
}

/* Code boxes */
.box {
    width: 40%;
    text-align: left;
}

.box h2 {
    text-align: center;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 12px;
    font-size: 14px;
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

/* Center button */
.button-box {
    display: flex;
    align-items: center;
    margin: 20px;

}

button {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #43a047;
    color: white;
}


button:hover {
    background-color: #43a047;
}
